.ng-gallery {
  display: inline-block;
  box-shadow: 3px 3px 0px #e3e3e3;
}

img.ng-thumb {
  height: 120px;
  display: block;
  cursor: pointer;
  width: 120px;
  border-right: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}

.ng-gallery .photo-count {
  border-left: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  padding: 5px;
  color: #448fe4;
  cursor: pointer;
}

.ng-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.85;
  z-index: 9999;
}

.ng-gallery-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  text-align: center;
}

.ng-gallery-content > button.nav-left {
  position: fixed;
  left: 30px;
  top: 45%;
  transform: translateY(-45%);
}

.ng-gallery-content > button.nav-right {
  position: fixed;
  right: 30px;
  top: 45%;
  transform: translateY(-45%);
}

.ng-gallery-content > img {
  height: auto;
  max-height: calc(100% - 320px);
  max-width: calc(100% - 100px);
  position: relative;
  display: block;
  margin: 0 auto 0 auto;
  top: 45%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  cursor: pointer;
}

.ng-gallery-content > img.effect {
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from { opacity: 0.3; }
      to { opacity: 1; }
}

.ng-gallery-content > span.info-text {
  color: #fff;
  display: inline-block;
  width: 100%;
  height: 20px;
  font-weight: bold;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 145px;
}

.ng-gallery-content > .ng-thumbnails-wrapper {
  width: 400px;
  height: 70px;
  text-align: center;
  position: fixed;
  bottom: 60px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}

.ng-gallery-content > .ng-thumbnails-wrapper > .ng-thumbnails {
  width: 4000px;
  height: 70px;
  margin: 0 auto;
}

.ng-gallery-content > .ng-thumbnails-wrapper > .ng-thumbnails > div > img {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 10px;
  cursor: pointer;
  opacity: 0.6;
}

.ng-gallery-content > .ng-thumbnails-wrapper > .ng-thumbnails > div > img:hover, 
.ng-gallery-content > .ng-thumbnails-wrapper > .ng-thumbnails > div > img.active {
  transition: opacity 0.25s ease;
  opacity: 1;
}

/* Loading - from http://loading.io */
uiload {
  display: inline-block;
  position: relative;
}

uiload > div {
    position: relative;
}

@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    }
}

@-ms-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.uil-ring-css {
  background: none;
  position: relative;
  top: 0;
  margin: 180px auto 0 auto;
  width: 100px;
  height: 100px;
}

.uil-ring-css > div {
    position: absolute;
    display: block;
    width: 80px;
    height: 80px;
    top: 20px;
    left: 20px;
    border-radius: 40px;
    box-shadow: 0 6px 0 0 #fff;
    -ms-animation: uil-ring-anim 1s linear infinite;
    -moz-animation: uil-ring-anim 1s linear infinite;
    -webkit-animation: uil-ring-anim 1s linear infinite;
    -o-animation: uil-ring-anim 1s linear infinite;
    animation: uil-ring-anim 1s linear infinite;
}

.ng-gallery-content .header-section, .footer-section {
  color: whitesmoke;
  width: 100%;
  text-align: center;
}

.ng-gallery-content .footer-section .footer {
  background-color: #242424;
  margin: 0 auto;
  font-size: 14px;
  padding: 10px;
  white-space: nowrap;
}

.ng-gallery-content .footer-section .footer .left,
.ng-gallery-content .footer-section .footer .right {
  width: 50%;
  display: inline-block;
  text-align: center;
}

.ng-gallery-content .footer-section {
  padding: 8px 5px 0px 5px;
  font-weight: 100;
  font-size: 16px;
  position: absolute;
  bottom: 0;
  z-index: 100;
}

.ng-gallery-content .header-section div {
  margin: 3px;
}

.ng-gallery-content .header-section .heading {
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 40px;
}

.ng-gallery-content .header-section .sub-heading {
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 5px;
  padding: 0 40px;
}

.ng-gallery-content .header-section {
  padding: 8px 5px;
  position: absolute;
  top: 0;
  z-index: 100;
  width: 100%;
  text-align: center;
  background-color: #000;
  height: 70px;
  border-bottom: solid 2px #5E3B1B;
}

.ng-gallery-content .header-text {
  font-size: 19px;
}

.ng-gallery-content .actions {
  position: absolute;
  top: 15px;
  right: 10px;
}

.ng-gallery-content .close-btn {
  background: url(../img/image-close.svg);
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}

.ng-gallery-content .previous-btn,
.ng-gallery-content .next-btn {
  width: 25px;
  height: 42px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: transparent;
}

.ng-gallery-content .next-btn {
  background-image: url(../img/image-nav-right.svg);
}

.ng-gallery-content .previous-btn {
  background-image: url(../img/image-nav-left.svg);
}